.about {
  padding-top: 139px;
  padding-bottom: 121px;
}

.about__container {
  display: flex;
}

.about-list {
  display: flex;
  flex-shrink: 0;
}

.about__list {
  margin-right: 64px;
}

.about-list__item {
  & + & {
    margin-left: 30px;
  }
}

.about-wrap__pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #303030;
}

.about-wrap__title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: #303030;
}

.about-wrap__sub-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  color: #555555;
}

.about-wrap__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  color: #555555;
}

.about-wrap__btn {
  color: #303030;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
